@import "./colors.scss";

// Fonts
$font-family: "Ubuntu", sans-serif;

// Sizes
$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 26px;
$font-size-xxl: 30px;
$font-size-3xl: 36px;

// Font Weights
$font-bold: 700;
$font-semibold: 500;
$font-normal: 400;
$font-thin: 200;

@mixin font($size, $weight) {
    font-size: $size;
    font-weight: $weight;
    font-family: $font-family;
    color: $text-color;
}
