$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-gray: rgb(133, 133, 133);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;
$color-blue: #2E86DE;
$color-blue-darker: #2064a8